
.yes{
    color: green;
    display: inline-flex;
    
}

.no{
    color: red;
    display: inline-flex;
}

h4{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    
}


.forMargin{
    margin-top: 32vh;
}

.col-md-4 {
    border: 1px solid black;
    border-radius: 10px;
    
}


.container{
    display: flex;
    justify-content: center;
}